@(crew : String, crewMembers : String)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Northwest Passage</title>
    </head>
    <body>
        <h1>Shame</h1>
        <img src="/assets/images/sad.jpg" width="200">
        <p>You are back at home port with nothing to show for it.
            Better get going before someone notices.
        </p>
        <p>
            Current Crew: @crew
            <br>
            Remaining Crew Members: @crewMembers
        </p>
        <form action="/westFromEngland" method="POST">
            @helper.CSRF.formField
            <input type="submit" value="Sail West"/>
        </form>
        <form action="/northFromEngland" method="POST">
            @helper.CSRF.formField
            <input type="submit" value="Sail North"/>
        </form>
        <form action="/eastFromEngland" method="POST">
            @helper.CSRF.formField
            <input type="submit" value="Sail East"/>
        </form>
    </body>
</html>