<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Santa</title>
    </head>
    <body>
        <h1>You found Santa!</h1>
        <img src="/assets/images/santa.jpg" width="200">
        <p>
            You have been hopelessly lost in the frozen North for months. Out of supplies and near death you hear a
            jingle in the distance. You look out on the frozen expanse and see a growing red light on the horizon. As it
            approaches an image comes into focus. You can't believe your eyes. It's Santa Claus on a training route.
            Christmas has come early this year. You didn't make it to China but you did make it home safely thanks to a
            timely ride from ole St. Nick himself.
        </p>
        <form method="get" action="/">
            <input type="submit" value="New Player">
        </form>
    </body>
</html>