@(crew: String, crewMembers: String)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Northwest Passage</title>
    </head>
    <body>
        <h1>Let the adventure begin</h1>
        <img src="/assets/images/go.jpg" width="200">
        <p>You have been chosen by the Queen of England to find a northern water way to China to acquire much needed
            fidget spinners.
            You are given a small ship with a crew of 10 people.
            Most of your sailor friends believe that your best chance of success is to sail northwest above North
            America.
            However, some of your crew believe you should try going east over Russia or north over the top of the world
            instead.
        </p>
        <p>
            Current Crew Size: @crew
            <br>
            Current Crew Members: @crewMembers
        </p>
        <form action="/westFromEngland" method="POST">
            @helper.CSRF.formField
            <input type="submit" value="Sail West"/>
        </form>
        <form action="/northFromEngland" method="POST">
            @helper.CSRF.formField
            <input type="submit" value="Sail North"/>
        </form>
        <form action="/eastFromEngland" method="POST">
            @helper.CSRF.formField
            <input type="submit" value="Sail East"/>
        </form>
    </body>
</html>