<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Northwest Passage</title>
</head>
<body>
<h1>Northwest Passage</h1>
<h2>A Game of Cunning and Skill</h2>
<p>
    This game is meant to be played by only the most skilled gamers.  Play at your own risk!
</p>
<form action="/start" method="POST">
    @helper.CSRF.formField
    <input type="submit" value="Let's Do This!"/>
</form>
<form action="/kittens" method="GET">
    <input type="submit" value="Kittens"/>
</form>
</body>
</html>